<h1>Sign UP</h1>

<%= form_for @user do |f|%>
 <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2>
       <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <p> 
    <%= f.label :name %><br /> 
    <%= f.text_field :name %> 
  </p>
  <p> 
    <%= f.label :email %><br /> 
    <%= f.text_field :email %> 
  </p>
  <p> 
    <%= f.label :password %><br /> 
    <%= f.password_field :password %> 
  </p>
  <p> 
    <%= f.label :password_confirmation %> <br />
    <%= f.password_field :password_confirmation %> 
  </p>
  <p> 
    <%= f.label :address %><br /> 
    <%= f.text_field :address %> 
  </p>
  <p> 
    <%= f.label :phone_number %><br /> 
    <%= f.text_field :phone_number %> 
  </p>
  <p> 
    <%= f.label :birtday %><br /> 
    <%= f.text_field :birthday %> 
  </p>
  <p> 
    <%= f.label :gender %><br /> 
    <%= f.text_field :gender %> 
  </p>
  <p> 
    <%= f.label :facebook %><br /> 
    <%= f.text_field :facebook %> 
  </p>
  <p> 
    <%= f.label :blog %><br /> 
    <%= f.text_field :blog %> 
  </p>

  <%= recaptcha_tags %>

  <p class="button"><%= f.submit%></p> 

<% end %>
