<%= flash[:error]%>
<h3>User profile</h3>

<p> Login: <%= @user.name %></p>
<p> Name: <%= @user.name %></p>
<p> Email: <%= @user.email %></p>
<p> Address: <%= @user.address %></p>
<p> Phone number: <%= @user.phone_number %></p>
<p> Birthday: <%= @user.birthday %></p>
<p> Gender: <%= @user.gender %></p>
