<%= flash[:notice]%><br />

<h1>List Articles</h1>

<table>
  <tr style= "text-align:center;">
    <th> Title </th>
    <th> Body </th>
  </tr>
  <% @articles.each do |f| %>
  <tr>
    <td style= "width: 200px;"><%= f.title%></td>
    <td style= "width: 200px;"><%= f.body%></td>
    <td style= "width: 50px;"><%= link_to "Edit", edit_admin_article_path(f.id)%></td>
    <td style= "width: 50px;"><%= link_to "Show", admin_article_path(f.id) %></td>
    <td style= "width: 50px;"><%= link_to "Delete", admin_article_path(f.id), :confirm => 'Are you sure', :method => :delete %></td>
  </tr>
  <% end %>
</table>
