<h3>Edit category</h3>

<%= form_for @category, :url => { :action => :create } do |f| %>  
  <%= f.label :name, :style => "margin-right: 10px"%>
  <%= f.text_field :name%> <br />

  <%= f.label :parent_id, :style => "margin-right: 5px"%>
  <%= f.select :parent_id, @parent_category, { :include_blank => true } %><br />
  <%= f.submit "Update"%>
  <%= link_to "Back", admin_categories_path %>
  
<% end %>
